h1:hover{
    background-color: gold;
}

button:hover{
    color: white;
}

input:focus{
    background-color: teal;
}

button:focus{
    border-radius: 10px;
    background-color: #2ecc71;
}

button:active{
    background-color: orange;
    font-size: 30px;
}

h1:active, p:active{
    color: yellow;
}

#btn1:active{
    background-color: purple;
}
#btn2:hover{
    background-color: green;
}
#btn3:focus{
    background-color: orange;
}